<div class="row">
    <div class="row listing-form-row">
        <div class="col-sm-10"> 
         </div>        
          <div class="col-sm-2"> 
           <button class="btn btn-primary btn-lg" ng-click="loadMyMap();">All Properties</button>   
         </div>
    </div>

</div>

<div class="row">
    <div class="col-md-3">

            <ul ng-repeat="airbnblisting in airbnblistings">
                <a href="#" ng-click="openInfoWindow($event, airbnblisting)" style="color:white">  
                <li><h4 class="label">{{airbnblisting.title}}</h4><br/>
                <i class="glyphicon glyphicon-home"></i> {{airbnblisting.address1}}<br/>
                        {{airbnblisting.city}}&nbsp;&nbsp;{{airbnblisting.state}}&nbsp;&nbsp;{{airbnblisting.zip}}<br/>
                        {{airbnblisting.country}}   
                
                </li>
                </a>
            </ul>
   
    </div>
    <div id="map" class="col-md-9">     
   </div>
 </div>

<div class="row">
    <div class="row listing-form-row">
        <div class="col-sm-5"> 
         </div>
        <div class="col-sm-4"> 
        <button class="btn btn-primary btn-lg" onclick="history.back();">Go back to rental property</button>
         </div>
          <div class="col-sm-3">            
         </div>
    </div>

</div>
  

       