.nowrap {
    white-space: normal;
}

.listingrental-form {
  margin-bottom: 10px;
  padding: 15px;
  background-color: #fff999;
}

.listingrental-form-row {
  margin-bottom: 10px;
}

.listing-form-row, .listing-button {
  margin-top: 10px;
}

.col-sm-4 {
    width: 33.33333333%;
}

.airbnblisting {
  height: 750px;
  overflow: hidden;
}

.listingDescription {
    height: 100px !important;
    display: block;
    overflow: hidden;
    text-align: left;
}

.listingImage {
  height: 200px !important;
}